/* CSS untuk Mode Cetak */
@media print {
  .container.printable {
    margin: 0px auto !important;
    padding: 0 90px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    print-color-adjust: exact !important;
  }
  .container.printable table {
    padding: 100px;
  }
}
