/*
@font-face {
  font-family: "Poppins";
  src: local("./fonts/Poppins/") url("./fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: local("./fonts/Poppins/") url("./fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 500;
} */

* {
  box-sizing: border-box;
  font-family: "Poppins", cursive;
  scroll-behavior: smooth;
  font-weight: normal;
}

*::selection {
  background-color: transparent;
  color: #ffbd24ba;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  /* background-color: #2c2c2c; */
  color: white;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

/* index page */
nav {
  margin: auto 0;
  font-size: 16px;
  color: white;
  transition: 0.5s all ease-in-out;
  border-radius: 0 0 20px 20px;
}

nav#nav {
  /* background-color: #00000000; */
  background-color: #000000a3;
  z-index: 999;
  height: 70px;
}

nav div.container a.navbar-brand {
  /* font-family: "Cinzel"; */
  margin-top: auto 0;
  margin-left: 15.5px;
  font-size: 28px;
  font-weight: 700;
  /* font-style: italic; */
}

nav div.container a.navbar-brand img {
  margin-top: -7px;
}

nav div.container a.navbar-brand span {
  /* font-family: "Cinzel"; */
  color: #ffc106;
  /* default color */
  font-weight: 700;
}

nav i {
  color: #e3e3e3c2;
  cursor: pointer;
}

nav i:hover {
  color: #959595c2;
}

nav ul.navbar-nav li {
  text-shadow: 0px 2px 30px #000000ab;
}

nav .right-nav-wrapper {
  gap: 38px;
}

nav .right-nav-wrapper ul {
  list-style-type: none;
  display: flex;
  margin-top: 17px;
  gap: 40px;
}

nav ul.navbar-nav {
  gap: 30px;
  margin: 0 0 0 720px;
}

nav ul li.dropstart ul {
  width: 230px;
  height: fit-content;
  overflow: hidden;
  padding: 0;
}

nav ul li.dropstart ul {
  padding: 15px 0;
}

nav ul li.dropstart ul li a {
  transition: 0.25s all ease-in-out;
  padding: 13px 20px;
}

/*  Carousels */
.carousel-item {
  transition: all 1s ease-in-out;
  transform: translateY(2);
}

.carousel-item img {
  filter: brightness(83%);
}

.carousel-inner::before {
  content: "";
  position: absolute;
  /* top: 10px; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    farthest-corner at 790px 270px,
    rgba(0, 0, 0, 0) 5%,
    rgb(0, 0, 0) 90%
  );
  z-index: 1;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 100px 0 0 -20px;
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  /* border: 1px solid white; */
  text-align: center;
  padding: 20px;
  color: #fff;
  z-index: 2;
}

.inner-overlay {
  display: inline-block;
  backdrop-filter: blur(4px);
  border-radius: 0 120px 200px 0;
}

.carousel-overlay h1 {
  text-align: left;
  padding: 50px 30px 0px 87px;
  font-weight: bolder;
  color: #d9d9d9;
}

.carousel-overlay p {
  text-align: left;
  min-width: 560px;
  max-width: 560px;
  /* height: 230px; */
  padding: 15px 20px 10px 92px;
  color: #c5c5c5;
  margin-top: -8px;
  margin-bottom: 0px;
  border-radius: 0 0 80px 0;
  font-size: 17px;
  font-weight: 500;
}

/* button */
.carousel-overlay .btn-group {
  border-radius: 0;
  margin: 40px 0 45px -140px;
  gap: 15px;
  /* border: 2px solid white; */
}

.inner-overlay button {
  /* position: relative; */
  overflow: hidden;
  border-radius: 0px;
  font-size: 16px;
  padding: 12px 38px;
  /* background-color: #dbb700; */
  background-color: #caa800;
  color: #000000;
  font-weight: 600;
  border: none;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.carousel-overlay i {
  color: black;
  transition: color 0.3s ease-in-out;
}

.carousel-overlay button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transition: left 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: -1;
}

.carousel-overlay button:hover::before {
  left: 0;
}

.carousel-overlay button:hover {
  background-color: #000000;
  color: #dbb700;
}

.carousel-overlay button:hover i {
  /* color: #cf9700; */
  color: #dbb700;
  font-weight: 600;
}

.carousel-indicators {
  position: absolute;
  top: 560px;
  left: -800px;
  z-index: 3;
}

/* slide */
.slide-nime {
  box-sizing: border-box;
  width: 100%;
  margin-right: 60px;
  text-align: left;
  padding: 10px 55px 20px 15px;
  height: 400px;
  box-shadow: 0px -70px 90px #0000002a;
  /* border: white 2px solid; */
  background-color: #00000000;
  position: relative;
  z-index: 998;
}

.slide-nime .top-capt {
  text-align: right;
  margin: 0 20px 0 0;
}

.slide-nime .left-capt {
  margin-top: 20px;
  text-align: left;
  margin-left: 50px;
  font-weight: 600;
}

.slide-nime h3 {
  margin-top: -115px;
  font-weight: 600;
}

.slide-nime h6 {
  margin-bottom: 20px;
}

.sss {
  display: block;
  width: 100%;
  height: fit-content;
  overflow-x: auto;
  padding: 7px 36px;
  margin: 0;
  z-index: 2;
  white-space: nowrap;
  border: none;
  margin-bottom: -150px;
}

.display-wraps {
  white-space: wrap;
}

.sss::-webkit-scrollbar {
  display: none;
}

.sss {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 203px;
  height: 400px;
  margin: 0 16px;
  background: #0000000d no-repeat center center;
  background-size: cover;
  cursor: pointer;
  overflow: hidden; /* Menyembunyikan konten yang melebihi batas item */
}

.small-item {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 205px;
  height: 400px;
  margin: 0 15px;
  background: #0000000d no-repeat center center;
  background-size: cover;
  cursor: pointer;
  overflow: hidden; /* Menyembunyikan konten yang melebihi batas item */
}

.item img {
  height: 298px;
  /* box-shadow: ; */
  /* border-radius: 8px; */
}

.small-item img {
  height: 301px;
  /* box-shadow: ; */
  /* border-radius: 8px; */
}

.item::before {
  content: "";
  position: absolute;
  top: 201.1px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* Sesuaikan tinggi vignette sesuai keinginan Anda */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0));
  z-index: 1; /* Pastikan vignette memiliki z-index yang lebih rendah dari gambar */
}

.small-item::before {
  content: "";
  position: absolute;
  top: 171px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* Sesuaikan tinggi vignette sesuai keinginan Anda */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0));
  z-index: 1; /* Pastikan vignette memiliki z-index yang lebih rendah dari gambar */
}

.item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75.5%;
  padding: 30px 20px;
  background: #000000b6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* border: 1px solid white; */
}

.small-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 68%;
  padding: 30px 20px;
  background: #000000b6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item:hover .overlay {
  opacity: 1;
}

.small-item:hover .overlay {
  opacity: 1;
}

.item .overlay h6 {
  width: 90%;
  white-space: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Batasi hingga 3 baris */
  -webkit-box-orient: vertical;
}

.small-item .overlay h6 {
  width: 90%;
  white-space: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Batasi hingga 3 baris */
  -webkit-box-orient: vertical;
}

.item .overlay p {
  width: 90%;
  margin: 0;
  font-size: 13px;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Batasi hingga 3 baris */
  -webkit-box-orient: vertical;
}

.small-item .overlay p {
  width: 90%;
  margin: 0;
  font-size: 13px;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Batasi hingga 3 baris */
  -webkit-box-orient: vertical;
}

.item div.anime-title {
  margin-top: 10px;
  display: grid;
  gap: 8.3px;
}

.small-item div.anime-title {
  margin-top: 10px;
  display: grid;
  gap: 8.3px;
}

.item div.anime-title h6 {
  width: 80%;
  margin: 0;
  font-size: 14.6px;
  white-space: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Batasi hingga 3 baris */
  -webkit-box-orient: vertical;
}

.small-item div.anime-title h6 {
  width: 80%;
  margin: 0;
  font-size: 14.6px;
  white-space: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Batasi hingga 3 baris */
  -webkit-box-orient: vertical;
}

/* single */
.single-parent-container {
  display: grid;
  gap: 51px;
  /* background-color: #282828; */
  padding: 20px 70px;
  margin: 60px 0;
}

.single-parent-container img {
  cursor: pointer;
  width: 530px;
  height: 310px;
  transition: 0.3s all ease-in-out;
}

.single-parent-container img:hover {
  filter: brightness(47%);
  cursor: pointer;
  /* width: 540px;
  height: 315px; */
}

.single-parent-container .single-title {
  margin: auto 0;
  padding: 0 34px;
}

.single-parent-container .single-title .btn-group button {
  padding: 10px 15px;
  border-radius: 0px;
  font-size: 16px;
  border: 2px solid #a3a3a3;
}
.single-parent-container .single-title .btn-group button i {
  margin-right: 12px;
}

.single-parent-container .single-title h2 {
  font-size: 28px;
}

.single-parent-container .containers {
  display: flex;
  /* border: 2px solid white; */
  padding: 0;
}

/* foooter */
footer {
  margin-top: 90px;
  color: white;
}

/* Search Page */
div.search-attribute {
  display: flex;
  justify-content: center;
  gap: 10px;
}

div.input-group {
  display: flex;
  justify-content: center;
  /* gap: 10px; */
}

div.input-group input {
  background-color: #252525;
}

div.input-group button {
  background-color: #252525;
}

.search-page-wrapper {
  margin: 120px auto;
}

input.search-bar {
  border: none !important;
  outline: none !important;
  /* margin: 0 auto; */
  width: 800px;
  height: 65px;
  border-radius: 15px;
  padding-left: 20px;
  font-size: 22px;
  color: #ededed;
}

input.search-bar:focus {
  background-color: #2a2a2a;
}

button.search-btn {
  width: 64px;
  height: 64px;
  border: none !important;
  outline: none !important;
  border-radius: 15px;
  font-weight: bolder;
  /* background-color: #caa800; */
}

.search-bar:active {
  border: none;
}

/* error page */
.error-main {
  display: flex;
  gap: 67px;
  margin: 130px 0 0 145px;
}

.error-msg {
  /* display: grid;  */
  /* gap: 0px; */
  /* border: 2px solid white; */
  width: 500px;
}

.error-msg h2 {
  margin-top: 20px;
  font-size: 26px;
}

.error-h1 {
  /* line-height: 74px; */
  margin: 85px 0 0 0;
  font-weight: 600;
  font-size: 100px;
}

/* ABOUT PAGE */
.caro-about {
  justify-content: center;
  margin-top: 0px;
  align-items: center;
  z-index: 1;
}

.caro-about div.inner-overlay h1 {
  text-align: center;
  text-shadow: 0 0 80px black;
}

/* Trx Form */
.trx-form {
  padding: 0 30px;
  /* color: #292929; */
}

.trx-form input,
.trx-form input:disabled {
  padding: 17px 20px;
  border-radius: 10px;
  border: none;
  font-size: 19px;
  background-color: #383838d3;
}

.trx-form input:active,
.trx-form input:focus {
  background-color: #2a2a2a;
}

.trx-form input::placeholder {
  color: white;
}

.trx-proces-container {
  margin-top: 100px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 72%;
  background-color: #292929;
  padding: 70px 50px;
  border-radius: 15px;
}

.evidence-file-sec {
  margin-top: 20px;
  padding-bottom: 39px;
  padding: 40px;
  height: 270px;
  border-style: dashed;
  border-radius: 15px;
}

.rotating-waiting-trx {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*  */
section.nota-section button {
  font-size: 17px;
  transition: all ease-in-out 0.3s;
}

section.nota-section button i {
  margin-right: 11px;
}

section.nota-section button:hover {
  background-color: #ababab;
  color: black;
}

/*  */

.printable {
  display: flex;
  justify-content: center;
}

.printable table {
  margin-left: 30px;
  width: 500px;
}

.printable table td {
  padding: 5px 0;
}

button.btn-noblefan {
  padding: 13px 20px;
  border-radius: 10px;
}

.text-silver {
  color: #b4b4b4;
}

button.payment-method {
  margin: 0 auto;
  border-radius: 15px;
  width: 80%;
  border: 4px solid transparent;
  transition: all ease-in-out 0.3s;
}

button.payment-method:hover {
  background-color: #cdcdcd;
}

.payment-method.active {
  border: 4px solid #ffbf00;
}

/* colors */
.text-black {
  /* color: #000000bc; */
  color: black;
  /* color: #00000082; */
}

.text-lightgray {
  color: #aeaeae;
}

.text-bright {
  color: white;
}

.text-lights {
  color: #cecece;
}

.text-gray {
  color: rgb(147, 147, 147);
}

.text-willow {
  color: #dbb700;
}

.text-darkgray {
  color: #686868;
}

.color-darkgray {
  color: #4c4c4c;
}

/* margin */
.m-top-10 {
  margin-top: 10px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-25 {
  margin-top: 30px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-top-60 {
  margin-top: 60px;
}

.m-top-80 {
  margin-top: 80px;
}

.m-top-30 {
  margin-top: 99px;
}

/* effect */
.vignette {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px #000000e6 inset;
}

/*  */
.bg-gray-blue {
  background-color: #2c2e32;
}

/* font size */
.font-nav-icon {
  margin-top: 6px;
  font-size: 21px;
}

/* Login Section */
.container-login {
  display: flex;
  overflow: hidden;
  width: fit-content;
  margin: 50px auto;
  /* border-radius: 18px; */
  /* box-shadow: 2px 10px 20px #5a5a5a5c; */
}

.container-login div.header h1 {
  font-weight: bolder;
  font-weight: 700;
  font-size: 48px;
}

.container-login .login-form h1 {
  font-size: 25px;
  color: #cecece;
  margin-top: 10px;
  margin-bottom: -12px;
  /* border: 2px solid white; */
}

.container-login .header h3 {
  font-weight: lighter;
  color: #eaeaea;
}

/* login form section */
.container-login .login-form {
  display: grid;
  /* border: 2px solid #424242; */
  /* background-color: #252526; */
  border-radius: 20px;
  backdrop-filter: blur(2px);
  /* background-color: #202021; */
  padding: 71px 92px 70px 42px;
}

.container-login .login-form form {
  margin-top: 20px;
}

.container-login .login-form input[type="text"],
.container-login .login-form input[type="password"],
.container-login .login-form input[type="number"],
.container-login .login-form input[type="email"] {
  width: 400px;
  height: 63px;
  padding: 13px 13px 13px 17px;
  margin-top: 10px;
  background-color: #eff1f500;
  border: 2.5px solid #8080805d;
  color: #e0e0e0;
  border-radius: 12px;
  font-size: 17.9px;
}

button.btn-loginPage {
  cursor: pointer;
  width: 390px;
  background-color: #dddddd;
  border: none;
  /* border-radius: 50px; */
  border-radius: 10px;
  padding: 11px 20px;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: all ease-in-out 0.3s;
}

button.btn-loginPage:hover {
  background-color: #939393;
}

a {
  text-decoration: none;
  color: white;
}

td.register-label {
  padding-top: 10px;
  text-align: center;
}

td.register-label a {
  color: black;
}

/* Anime Detail */
.banner-wrapper {
  position: relative;
  margin-top: 0px;
  background-size: cover;
  filter: blur(3px) brightness(35%);
  height: 550px;
  z-index: -999;
  cursor: pointer;
  overflow: hidden;
}

/* Account Page */
div.profile-page .user-wrapper h4 {
  color: #e1e1e1;
  font-size: 23px;
}

div.profile-detail {
  margin-top: 10px;
  margin-left: 25px;
  gap: 130px;
}

div.profile-detail .options ul li {
  margin-top: 21px;
  /* color: rebeccapurple; */
}

/* Anime Detail Page */
span.anime-detail-span {
  font-size: 14px;
  color: lightgray;
  border: 1.4px solid lightgray;
  border-radius: 0px;
  padding: 4px 9px;
}

/* Re Usable Componnents */

button.nionime-button {
  padding: 10px 15px;
  border-radius: 0px;
  font-size: 16px;
  border: 2px solid #a3a3a3;
}

button.nionime-button i {
  margin-right: 12px;
}

/* ACCOUNT MENU */
div.accountMenu {
  /* background-color: #202020; */
  border: 3.5px solid #313131ed;
  padding: 55px 54px;
  border-radius: 20px;
}

/* style={{ textAlign: "left", backgroundColor: "gray", borderRadius: "20px", padding: "40px 40px 20px 40px" }} */
div.accountMenu div.card-order-history {
  text-align: left;
  background-color: #2c2c2cf1;
  border-radius: 20px;
  padding: 40px 40px 15px 40px;
}

/* Form */
form.changePassword {
  /* background-color: #202020; */
  border: 3.5px solid #313131ed;
  padding: 55px 140px;
  border-radius: 20px;
}

form.changePassword input {
  height: 57px;
  width: 500px;
  font-size: 18px;
  color: #e2e2e2;
  border-radius: 15px;
  padding: 5px 5px 5px 19px;
  /* border: 2px solid gray; */
  border: none;
  background-color: #292929;
}

form.changePassword i {
  color: #b1b1b1;
  font-weight: 800;
  margin-right: 6px;
}

form.changePassword label {
  color: #b1b1b1;
  width: 505px;
  font-size: 14px;
}

/* Watch Page */
div.watch-header select {
  margin: 0 30px 0 0;
  border-radius: 20px;
  text-align: center;
  width: 550px;
  cursor: pointer;
}

div.watch-header select:active,
div.watch-header select:focus {
  border: none !important;
}

/* Gaya untuk opsi pada elemen select */
.watch-header select option {
  cursor: pointer;
  background-color: black;
  text-align: center;
  color: #dddddd;
  border: none !important;
  padding: 10px;
}

/* Gaya tambahan jika Anda ingin mengubah warna latar belakang saat opsi dipilih */
.watch-header select option:checked {
  background-color: #333;
}

div.watch-header i {
  width: 50px;
  cursor: pointer;
}

.ep-square {
  border: none !important;
  text-align: center;
  background-color: #323232;
  padding: 15px 10px;
  transition: 0.2s all ease-in-out;
}

.ep-square-controls {
  border: none !important;
  text-align: center;
  background-color: #323232;
  padding: 1px 15px;
  height: 50px;
  /* font-size: 15px; */
  transition: 0.2s all ease-in-out;
}

.ep-square:hover {
  border: none !important;
  background-color: #2d2d2d;
}

.ep-square-controls:hover {
  border: none !important;
  background-color: #2d2d2d;
}

.ep-square:focus,
.ep-square:active {
  border: none !important;
}

/*  */
@media only screen and (max-width: 768px) {
  /* nav {
    transition: 0.5s all ease-in-out;
  } */

  nav .container a img {
    height: 25px;
  }

  nav .container .navbar-collapse {
    transition: 0.3s all ease-in-out;
    text-align: left;
    background-color: black;
  }

  .carousel-item {
    transition: all 1s ease-in-out;
    transform: translateY(2);
    background-size: cover;
  }

  .carousel-item img {
    filter: brightness(88%);
    height: 500px;
    /* transform: scale(170%); */
  }

  .carousel-overlay {
    margin: 200px 0 0 -10px;
    text-align: center;
  }

  .inner-overlay {
    width: 100%;
    text-align: center;
    display: inline-block;
    backdrop-filter: blur(0px);
    /* border-radius: 0 120px 200px 0; */
  }

  .carousel-overlay h1 {
    text-align: center;
    /* color: transparent; */
    padding: 30px 15px 0px 37px;
    font-size: 35px;
  }

  .carousel-overlay p {
    text-align: center;
    /* color: transparent; */
    min-width: 300px;
    max-width: 300px;
    padding: 15px 20px 10px 42px;
    font-size: 12px;
  }

  .carousel-overlay .btn-group {
    margin: 0 auto;
    margin-top: 25px;
  }

  .carousel-overlay button {
    font-size: 18px;
    padding: 3px 40px;
    /* margin-left: 50px; */
  }

  /* Slides */
  .slide-nime {
    box-sizing: border-box;
    width: 100%;
    margin-right: 50px;
    text-align: left;
    padding: 20px 20px 20px 0px;
    height: 400px;
    box-shadow: 0px -70px 90px #0000002a;
    /* border: white 2px solid; */
    background-color: transparent;
    position: relative;
    z-index: 998;
  }

  .slide-nime .top-capt {
    text-align: left;
    margin: 0px 50px 0 20px;
  }

  .slide-nime .left-capt {
    margin-top: -180px;
    text-align: left;
    margin-left: 20px;
    font-weight: 600;
  }

  .slide-nime h3 {
    margin-top: -115px;
    font-weight: 600;
  }

  .slide-nime h6 {
    margin-bottom: 20px;
  }

  .sss {
    display: block;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    padding: 7px 7px;
    margin: 0;
    z-index: 2;
    white-space: nowrap;
    border: none;
    margin-bottom: -150px;
  }

  .sss::-webkit-scrollbar {
    display: none;
  }

  .sss {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .item {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 158px;
    height: 400px;
    margin: 0 10px;
    background: #0000000d no-repeat center center;
    background-size: cover;
    cursor: pointer;
    overflow: hidden; /* Menyembunyikan konten yang melebihi batas item */
  }

  .item img {
    height: 239px;
    /* box-shadow: ; */
    /* border-radius: 8px; */
  }

  .item::before {
    content: "";
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0));
    z-index: 1;
  }

  .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background: #000000b6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .item:hover .overlay {
    opacity: 1;
  }

  .item .overlay h6 {
    width: 90%;
    white-space: wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Batasi hingga 3 baris */
    -webkit-box-orient: vertical;
  }

  .item .overlay p {
    width: 90%;
    margin: 0;
    font-size: 11px;
    white-space: pre-wrap;
    overflow: hidden;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Batasi hingga 3 baris */
    -webkit-box-orient: vertical;
  }

  .item div.anime-title {
    margin-top: 13px;
    display: grid;
    gap: 8.3px;
  }

  .item div.anime-title h6 {
    width: 80%;
    margin: 0;
    font-size: 12.9px;
    white-space: wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Batasi hingga 3 baris */
    -webkit-box-orient: vertical;
  }

  /* Single container */
  .single-parent-container {
    display: grid;
    gap: 10px;
    /* background-color: #282828; */
    /* padding: 20px 70px; */
    margin: 150px 0 90px 0;
  }

  .single-parent-container .single-wrapper {
    background-color: black;
    padding: 50px;
    display: grid;
    gap: 40px;
  }

  .single-parent-container .containers {
    display: grid;
    /* border: 2px solid white; */
    /* padding: 0 100px; */
  }

  .single-parent-container .containers img {
    padding: 0;
    width: 290px;
  }

  .single-parent-container .single-title {
    padding: 40px 0px;
  }
}

/* Value */
/* Margins */
.ml-12 {
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.689);
}

.bg-yellow {
  background-color: #d1b200;
  /* color: #0000008c; */
  color: #323232;
}

.text-yellow {
  color: #f4cc00;
  /* color: #434343; */
}

.colllllll {
  color: #2b2b2b;
}

form div.user-info-form label {
  transition: all ease-in-out 0.2s;
  font-size: 17px;
}

.text-klawu {
  color: #5e5e5e;
}
